@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

:root {
    --platinum: #eaeaeaff;
    --cerulean: #007ea7ff;
    --onyx: #474448ff;
    --moss-green: #898952ff;
}

html {
    height: 100%;
}

body {
    background-color: var(--platinum);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.page-container {
    flex-basis: 100%;
    display: flex;
    /* min-height: 100vh; */
    flex-direction: column;
    height: 100%;
}

header {
    flex:1;
    height: 100%;
    /* border: 1px solid green; */
}

main {
    flex: 1;
    height: 100%;
    /* border: 1px solid red; */
}

footer {
    flex: 1;
    height: 100%;
    /* border: 1px solid blue; */
}

.footer {
    color: var(--onyx);
    font-size: 14px;
    font-weight: 500;
    padding: 10px  10px;
    text-align: center;
    height: 20px;
  }

.flex-container-1 {
    background-color: var(--onyx);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 100%; */
  }

  .flex-item-1 {
    flex: 2;
    background: var(--onyx);
    background-image: url("/assets/images/richard.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding-right: 5px;
    min-width: 360px;
    height: 155px;
        /* border: 1px solid blue; */
  }

  .flex-item-2 {
    flex: 1;
    background: var(--onyx);
    min-width: 360px;
    height: 155px;
    text-align: right;
    /* border: 1px solid blue; */
  }

  .flex-container-2 {
    background-color: var(--platinum);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 100%; */
  }

  .flex-item-3 {
    background: var(--cerulean);
    flex: 1;
    padding: 10px;
    flex-basis: content;
    /* height: 100%; */
    /* border: 1px solid blue; */
  }

  .flex-item-4 {
    background: var(--moss-green);
    flex: 1;
    padding: 10px;
    flex-basis: content;
    /* height: 100%; */
    /* border: 1px solid blue; */
  }

  .resume-title-1 {
    color: var(--platinum);
    font-size: 34px;
    font-weight: 600;
    letter-spacing:1.5px;
    line-height: 100%;
    margin-top: 20px;
    margin-left: 170px;
  }

  .resume-title-2 {
    color: var(--platinum);
    font-size: 18px;
    letter-spacing:1.5px;
    line-height: 110%;
    margin-top: 10px;
    font-weight: 300;
    margin-left: 170px;
  }

  .contacts {
    color: var(--platinum);
    padding: 8px;
    margin: 10px;
    text-align: right;
    font-size: 14px;
    font-weight: 300;
    line-height: 170%;
    letter-spacing:1.5px;
  }

  .heading {
    color: var(--platinum);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing:1px;
  }

  .sub-heading {
    color: var(--platinum);
    /* margin: 10px; */
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing:1px;
  }

  .content {
    color: var(--platinum);
    /* margin: 10px; */
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 110%;
    letter-spacing:1px;
  }

  .list {
    color: var(--platinum);
    padding: 0%;
    text-align: left;
    font-size: 13px;
    font-weight: 300;
    line-height: 140%;
    letter-spacing:1px;
  }

  @media (max-width: 425px) {
    .flex-item-1{
        min-width: 26%;
    }
  }